
/*修改正文字体*/
/* @font-face {*/
/*         font-family: 'tzy';*/
        /* 字体名自定义即可 */
/*         src: url('https://eamonimgbed.oss-cn-beijing.aliyuncs.com/file/ZhuZiAWan.woff2');*/
         /* 字体文件路径 */
/*         font-display: swap;*/
/*     }*/
     
/*     body {*/
/*         font-family: tzy !important;*/
/*     } */
@font-face {
    font-family: "STLiti_1";
    src: url("STLiti.eot"); /* IE9 */
    src: url("STLiti.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("STLiti.woff") format("woff"), /* chrome、firefox */
    url("STLiti.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("STLiti.svg#STLiti") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
/*菜单收起来的时候，搜索按钮位置矫正*/
#nav.show.hide-menu #search-button
{
    vertical-align: middle;
}

/*右下角跳转到评论区的按钮位置矫正*/
#to_comment > i
{
    padding-top: 25%;
}

/*首页底部前后翻页按钮位置矫正*/
#recent-posts .pagination > .extend.prev, #recent-posts .pagination > .extend.next
{
    vertical-align: top;
}
#recent-posts .pagination > .extend.prev > i, #recent-posts .pagination > .extend.next > i
{
    padding-top: 30%;
}

/*修改首页轮播的css样式*/
#swiper-position
{
    background: rgba(255,255,255,1);
    flex-direction: column;
    height: auto;
    margin-top: 20px;
    border-radius: 8px;
    background: var(--card-bg);
    display: flex;
}

/*修改首页文章摘要显示的行数，由2行改为4行*/
#recent-posts > .recent-post-item >.recent-post-info > .content {
    -webkit-line-clamp: 4;
}

/*修改首页双栏显示后的页码不居中问题*/
/* 翻页按钮居中 */
#pagination {
    width: 100%;
    margin: auto;
  }
/*归档页面行间距缩小*/

.article-sort-item.no-article-cover {
    height: 40px;
}

/*分类条样式修改*/

#category-bar {
    margin-top: 1rem;
    margin-bottom: 0rem;
    width: 100%;
}
.category-in-bar-tips {
    margin-top: 1.3rem;
}

/*页面宽度拉大，屏幕铺满*/

.layout {
    max-width: 1400px;
}
.layout.hide-aside {
    max-width: 1000px;
}
.aside-content{
    max-width:312px;
    min-width:300px;
}
@media screen and (max-width: 900px){
    .aside-content{
        max-width:none!important;
    }
}
.flink-list-item{
    width:calc(100% / 4 - 15px)!important;
}
@media screen and (max-width: 1250px) {
    .flink-list-item{
        width:calc(100% / 3 - 15px)!important;
    }
}

